/*Стили в секциях*/
/* Секции на Главной странице */

.no-padding {
  padding-bottom: 0px;
}

.features {
  display: flex;
}

.feature-section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.features-list {
  display: flex;
}

.features-section-item {
  width: 270px;
  &::before {
    content: '';
    display: block;
    /* width: 270px; */
    height: 120px;
    background-color: #f5f4fa;

    background-size: content;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
}

.icon-antenna::before {
  background-image: url(../images/antenna-1.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.features-section-item:not(:last-child) {
  margin-right: 30px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.doing-title {
  margin-bottom: 50px;
}

.doing-list {
  display: flex;
  justify-content: space-between;
}

.doing-items {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.doing-items-text {
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.section-doing-img {
  display: block;
}

.members-section-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.section-team {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.section-team-img {
  display: block;
}

.team-text {
  text-align: center;
  display: block;
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.team-social-link {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  width: 100%;
  height: 100%;
  color: var(--primary-white-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: var(--accent-blue-color);
    fill: var(--primary-white-color);
  }
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  color: var(--accent-blue-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-blue-color);
    border-color: var(--accent-blue-color);
  }
}
