:root {
  --primary-white-color: #ffffff;
  --title-color: #212121;
  --text-color: #757575;
  --accent-blue-color: #2196f3;
  --black-color: #000000;
  --hero-footer-background-color: #2f303a;
  --button-filters-background-color: #f5f4fa;
  --hover-button-hero-section: #188ce8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}
