.portfolio-button-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.button-filters {
  font-family: inherit;
  background-color: var(--accent-blue-color);
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12); */
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:active,
  &:focus {
    background-color: var(--accent-blue-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.portfolio-button-item:not(:last-child) {
  margin-right: 8px;
}

.button-blue {
  background-color: var(--accent-blue-color);
  color: var(--primary-white-color);
}

.button-grey {
  background-color: var(--button-filters-background-color);
  color: var(--title-color);
  &:active,
  &:hover,
  &:focus {
    background-color: var(--accent-blue-color);
    color: var(--primary-white-color);
  }
}

.pointer {
  cursor: pointer;
}
